###############################################################################
# Data
###############################################################################

data/
data-*/
notes.txt


###############################################################################
# Python
###############################################################################

__pycache__


###############################################################################
# Xcode
###############################################################################

## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout


###############################################################################
# Misc.
###############################################################################

# MacOS
.DS_Store
